DOMAIN_NAME=flow-project.net
SUBDOMAIN=n8n
SUBDOMAIN_WEBHOOK=preprocess
SUBDOMAIN_MINIO=minio
SUBDOMAIN_FORM=form
SUBDOMAIN_MAIL=mail
SMTP_SENDER=noreply
GENERIC_TIMEZONE=Europe/Berlin
SSL_EMAIL=<your-email>
ENCRYPTION_KEY=<your-encryption-key>  # create it with `openssl rand -hex 32`
MINIO_ENDPOINT=minio:9000
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=<your-minio-password>
BUCKET_NAME=uploads
FRONTEND_DOCKERFILE=../workflows-preprocessing/form