DOMAIN_NAME=flow-project.net

SUBDOMAIN=n8n
SUBDOMAIN_WEBHOOK=webhook
SUBDOMAIN_PREPROCESSING_FORM=form
SUBDOMAIN_INFERENCE_FORM=inference
SUBDOMAIN_MAIL=mail
DKIM_SELECTOR=mail

SMTP_SENDER=noreply
GENERIC_TIMEZONE=Europe/Berlin
SSL_EMAIL=<your-email>
ENCRYPTION_KEY=<your-encryption-key>  # create it with `openssl rand -hex 32`

GARAGE_RPC_SECRET=<random-hex>              # create with `openssl rand -hex 32`
GARAGE_ADMIN_TOKEN=<random-base64>          # create with `openssl rand -base64 32`
GARAGE_METRICS_TOKEN=<random-base64>        # create with `openssl rand -base64 32`
GARAGE_ACCESS_KEY=<your-garage-access-key>
GARAGE_SECRET_KEY=<your-garage-secret-key>  # create with `openssl rand -hex 32`
BUCKET_NAME=uploads

FRONTEND_PREPROCESSING_DOCKERFILE=..
FRONTEND_INFERENCE_DOCKERFILE=..